*{
    background-color: rgb(87, 97, 175);
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
button{
    height: 3rem;
    width: 8rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: larger;
}

button:hover{
    background-color: blueviolet;
}